@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.white {
  color: #ffffff;
}

footer h2 {
  color: #ffffff;
}

.section h2 {
  padding-bottom: 10px;
}

.section p {
  padding-top: 10px;
}